@model IEnumerable<TrueWebPhone.Models.Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        header {
            background-color: #333;
            color: white;
            padding: 1em;
            text-align: center;
        }

        main {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        #product-list {
            max-height: 400px;
            overflow-y: auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        #product{
            width: 60%;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        #cart {
            width: 35%;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .product-item {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        button {
            background-color: #28a745;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
        }

            button:hover {
                background-color: #218838;
            }

        #cart-details {
            border-top: 1px solid #ccc;
            margin-top: 20px;
            padding-top: 20px;
            max-height: 300px;
            overflow-y: auto;
        }

        .cart-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

            .cart-item img {
                max-width: 50px;
                height: auto;
                margin-right: 10px;
                border-radius: 4px;
            }

        .delete-icon {
            cursor: pointer;
            cursor: pointer;
            display: inline-block;
            background-color: #ff3333;
            color: white;
            padding: 8px;
            border-radius: 50%;
        }

        .cart-total {
            margin-top: 10px;
            font-weight: bold;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        #total-items-text {
            margin-top: 10px;
        }

        .flex-row {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }

        .text-start {
            order: 1; 
        }

        .text-end {
            order: 2; 
        }
    </style>
</head>
<body>
    
    <main>
        <div id="product">
            <h2>Product List</h2>
            <div id="product-list">
                @foreach (var product in Model)
                {
                    <div class="product-item" data-product-id="@product.Id">
                        <img src="~/uploads/@product.ImagePath" alt="@product.ProductName" style="width: 5cm; height: 7cm;"><br>
                        <p>@product.ProductName - $@product.RetailPrice.ToString("0.##")</p>
                        <button class="add-to-cart-btn">Add to Cart</button>
                    </div>
                }
            </div>
        </div>
    
        <div id="cart">
            <h2>Shopping Cart</h2>

            <div id="cart-details" style="height:300px">
                <!-- Cart details will be displayed here -->
            </div>

            <div class="flex-row">
                <p id="total-items-text">Total Items: 0</p>
                <p id="total-price-text">Total Price: $0.00</p>
            </div>
            <div class="flex-row">
                <label for="customer-payment">Customer Payment:</label>
                <input type="text" id="customer-payment" name="customer-payment" placeholder="Enter amount">
            </div>
            <button type="button" class="btn btn-primary" id="openCustomerModalBtn">
                Make a payment
            </button>
            <button id="reset-cart-btn">Reset Cart</button>

        </div>
    </main>

    <footer>
       
    </footer>
    <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerModalLabel">Filling Information of Customer</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="checkoutForm" method="post">
                        <div class="row">
                            <div class="col">
                                <label>Phone number</label>
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone's customer" name="phone" />
                                <button type="submit" class="my-2 btn btn-primary">Checkout <i class="fa-solid fa-check-to-slot"></i></button>
                            </div>
                            <div class="col">
                                <label>Full name</label>
                                <input type="text" class="form-control" placeholder="Enter customer's name" id="fullname" name="fullname" />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Enter customer's address" id="address" name="address" />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <label for="payment-method">Payment Method:</label>
                                <select class="form-control" id="payment-method" name="payment-method">
                                    <option value="cash">Cash</option>
                                    <option value="visa">Visa</option>
                                    <option value="momo">Momo</option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div id="messageContainer" class="mt-3"></div>

                    <div id="existingCustomerInfo" style="display:none;">
                        <p>Customer with the provided phone number already exists.</p>
                        <p>Name: <span id="existingName"></span></p>
                        <p>Address: <span id="existingAddress"></span></p>
                    </div>

                    <button id="addNewCustomer" class="btn btn-success mt-3">Add New Customer</button>
                    <button class="btn btn-success mt-3" id="checkout-btn">Pay</button>
                    <button class="btn btn-success mt-3" id="reset-customer-btn">Reset Customer</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $("#openCustomerModalBtn").on("click", function () {
            $("#customerModal").modal("show");
        });

        $("#reset-cart-btn").on("click", function () {
            $("#cart-details").empty(); 
            updateCartTotals(); 
        });

        $("#reset-customer-btn").on("click", function () {
            $("#checkoutForm")[0].reset(); 
            $("#messageContainer").empty(); 
            $("#existingCustomerInfo").hide(); 
        });


        $("#checkoutForm").submit(function (event) {
            event.preventDefault();
            $.post("/Home/HandleCheckout", $(this).serialize(), function (data) {

                if (data.existingCustomer === true) {
                    $("#fullname").val(data.existingName);
                    $("#address").val(data.existingAddress);
                    showMessage("Existing customer information loaded.", 'red');
                } else {
                    showMessage("Customer does not exist. Create a new one.", 'red');
                }
            });
        });
       
        $(".add-to-cart-btn").on("click", function () {
            var productInfo = $(this).siblings("p").text();
            var productPrice = parseFloat(productInfo.match(/\$([0-9,]+(\.[0-9]{1,2})?)/)[1]);
            var productName = productInfo.replace(/\s*\-\s*\$[0-9,]+(\.[0-9]{1,2})?/, "");
            var productImage = $(this).siblings("img").attr("src");
            var productId = $(this).closest('.product-item').data('product-id');



            var existingCartItem = $(".cart-item").filter(function () {
                return $(this).find('.product-name').text().includes(productName);
            });

            if (existingCartItem.length > 0) {
                var existingQuantity = parseInt(existingCartItem.find('.quantity').text());
                existingCartItem.find('.quantity').text(existingQuantity + 1);
            } else {
                $("#cart-details").append(
                    '<div class="cart-item">' +
                    '<img src="' + productImage + '" alt="' + productName + '" style="width: 3cm; height: 2cm;">' +
                    '<div>' +
                    '<p class="product-name">' + productName + ' - $' + productPrice.toFixed(2) + '</p>' +
                    '<p class="quantity">1</p>' + 
                    '<p class = "product-id" hidden>' + productId + '</p>' +
                    '</div>' +
                    '<span class="delete-icon" onclick="removeCartItem(this)">&#128465;</span>' +
                    '</div>'
                );
            }
            updateCartTotals();
        });
        $("#checkout-btn").on("click", function () {
            var cartItems = [];

            $(".cart-item").each(function () {
                var productName = $(this).find('.product-name').text();
                var quantity = parseInt($(this).find('.quantity').text());
                var id = parseInt($(this).find('.product-id').text());
                var priceText = productName.match(/\$([0-9,]+(\.[0-9]{1,2})?)/)[1];
                var itemPrice = parseFloat(priceText);
                var totalPrice = itemPrice * quantity;
                var correctName = productName.split(' - ')[0];

                cartItems.push({
                    productName: correctName,
                    quantity: quantity,
                    totalPrice: totalPrice,
                    productId : id
                });
            });
            var customerPhone = $("#phone").val();
            var customerPayment = parseFloat($("#customer-payment").val()) || 0;
            createBill(cartItems, customerPayment, customerPhone);
        });
        $("#addNewCustomer").click(function () {
            var phone = $("#phone").val();
            var name = $("#fullname").val();
            var address = $("#address").val();

            $.post("/Home/CreateCustomer", { phone: phone, name: name, address: address }, function (result) {
                if (result.success === true) {
                    showMessage("New customer added successfully!", 'green');
                } else {
                    showMessage("Error adding a new customer. " + result.errorMessage, 'red');
                }
            });
        });

        function showMessage(message, color) {
            $("#messageContainer").text(message).css('color', color);
        }
    });

    function removeCartItem(element) {
        if (parseInt($(element).closest(".cart-item").find('.quantity').text()) > 1) {
            $(element).closest(".cart-item").find('.quantity').text( parseInt($(element).closest(".cart-item").find('.quantity').text()) - 1 );
        } else {
            $(element).closest(".cart-item").remove();
        }
        // Update the total items and total price after removing an item
        updateCartTotals();
    }

    function updateCartTotals() {
        var totalItems = 0;
        var totalPrice = 0;

        $(".cart-item").each(function () {
            var quantity = parseInt($(this).find('.quantity').text());
            var priceText = $(this).find('.product-name').text().match(/\$([0-9,]+(\.[0-9]{1,2})?)/)[1];
            var itemPrice = parseFloat(priceText);
            
            totalItems += quantity;
            totalPrice += itemPrice * quantity;
        });

        $("#total-items-text").text("Total Items: " + totalItems);
        $("#total-price-text").text("Total Price: $" + totalPrice.toFixed(2));
    }

    function createBill(cartItems, customerPayment, customerPhone) {
        var backendEndpoint = "/Home/CreateBill";

        if (!Array.isArray(cartItems)) {
            console.error("Invalid cart items format");
            return;
        }

        var selectedPaymentMethod = $("#payment-method").val();

        var requestData = {
            cartItems: cartItems,
            customerPayment: customerPayment,
            customerPhone: customerPhone,
            paymentMethod: selectedPaymentMethod
        };

        $.ajax({
            type: "POST",
            url: backendEndpoint,
            contentType: "application/json",
            data: JSON.stringify(requestData),
            success: function (response) {
                console.log("Bill created successfully:", response);

               
            },
            error: function (error) {
                console.error("Error creating bill:", error);
            }
        });
    }
</script>





