@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label for="oldPassword" class="form-label">Old Password:</label>
        <input type="password" class="form-control" id="oldPassword" name="oldPass" required>
    </div>

    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPass" required>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" name="confPass" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

